<div class="book-info-grid inner-container">
    <div class="book-container">
        <img
            src="<%= book.coverImagePath %> "
            alt="Book Cover"
            class="book-cover"
        />
        <div class="show-book-button-group">
            <a href="/books/<%= book._id %>/edit" class="btn btn-primary"
                >Edit</a
            >
            <%- include('../partials/deleteForm.ejs', {url:
            `/books/${book._id}`, btnStyle: "btn btn-secondary"}) %>
            <a href="/authors/<%= book.author._id %>" class="btn btn-primary"
                >View Author</a
            >
        </div>
    </div>
    <div>
        <h2><%= book.title %></h2>
        <div class="info-grid">
            <div>Author:</div>
            <div><%= book.author.name %></div>
            <div>Publish Date:</div>
            <div>
                <%= book.publishedDate.toLocaleDateString('en-US', {
                weekday:'short', year: 'numeric', month: 'short', day: 'numeric'
                }) %>
            </div>

            <div>Page Count:</div>
            <div><%= book.pageCount %></div>

            <div class="book-description">
                Description:
                <p><%= book.description %></p>
            </div>
        </div>

        
    </div>
</div>
