<div class="book-info-grid inner-container">
    <div class="book-container">
        <img
            src="<%= book.coverImagePath %> "
            alt="Book Cover"
            class="book-cover"
        />
        <div class="show-book-button-group">
            <a href="/books/<%= book._id %>/edit" class="btn btn-primary"
                >Edit</a
            >
            <%- include('../partials/deleteForm.ejs', {url:
            `/books/${book._id}`, btnStyle: "btn btn-primary"}) %>
            <a href="/authors/<%= book.author._id %>" class="btn btn-primary">View Author</a>
        </div>
    </div>
    <div >
        <h2><%= book.title %></h2>
        <div>
            Author:
            <span><%= book.author.name %> </span>
        </div>
        <div>
            Publish Date:
            <span>
                <%= book.publishedDate.toLocaleDateString('en-US', {
                weekday:'short', year: 'numeric', month: 'short', day: 'numeric'
                }) %>
            </span>
        </div>

        <div>
            Page Count:
            <span><%= book.pageCount %> </span>
        </div>

        <div>
            Description:
            <p><%= book.description %></p>
        </div>
    </div>
</div>
