<h1>Search Author</h1>
<div class="authors-grid">
    <form action="/authors" method="GET" class="card card-bg">
        <div class="card-item">
            <label for="name">Name: </label>
            <input
                type="text"
                id="name"
                name="name"
                value="<%= searchOptions.name %> "
            />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <ul>
        <% authors.forEach(author => { %>
        <li class="list-group-item each-author">
            <%= author.name %>
            <div class="author-button-group">
                <a
                    href="/authors/<%= author._id %>"
                    class="btn btn-primary-outline button-l-space"
                    >View</a
                >
                <a
                    href="/authors/<%= author._id %>/edit"
                    class="btn btn-primary-outline button-l-space"
                    >Edit</a
                >
                <div class="button-l-space">
                    <%- include('../partials/deleteForm.ejs', { url:
                    `/authors/${author._id}`, btnStyle: "btn btn-secondary-outline" }) %>
                </div>
            </div>
        </li>
        <% }) %>
    </ul>
</div>
