<h1><%= author.name %></h1>
<div class="author-buttons">
    <a href="/authors/<%= author._id %>/edit" class="btn btn-primary">Edit</a>
    <%- include('../partials/deleteForm.ejs', {url, btnStyle: "btn btn-secondary"}) %> 

</div>

<h3>Book By Author</h3>
<div class="card card-bg book-row">
    <% books.forEach( book => { %>
        <div>
            <a href="/books/<%= book._id %>" class="authors-book-container">
                
                <img
                src="<%= book.coverImagePath %> "
                alt="author's books"
                />
            </a>
            <div><%= book.title %></div>
        </div>
    <% }) %>
</div>
